.Alert{
    position: relative;
    background: #dddddd;
    border: 1px solid darkgray;
    padding: 1em;
}

.Alert--Success{
    background: lightgreen;
    border: 1px solid lightgreen;
}

.Alert__close{
    position: absolute;
    top: 1em;
    right: 1em;
    font-weight: bold;
    cursor: pointer;
}